.emergency{
    width: 90%;
    display: flex;
    justify-content: center;
 background-size: cover;

    height: 400px;
    margin: 10% auto 10% auto;
}
@media screen and (max-width:900px) {
  .emergency{
    margin: 110% auto 10% auto;
  }  
}
@media screen and (max-width:700px) {
    .emergency{
        margin-top: 70%;
        height: 300px;
        width: 100%;
    }
}
@media screen and (max-width:500px) {
    .emergency{
        margin-left: 5%;
        margin-top: 90%;
        height: 300px;
        width: 110%;
    }
}
@media screen and (max-width:400px) {
    .emergency{
        margin-left: 15%;
        margin-top: 400%;
        height: 300px;
       background-size: contain;
       background-repeat: no-repeat;
        
    }
}