.h1 {
    font-size: 2000px;
    font-weight: bolder;
}
.h2 {
    font-size: 175px;
    font-weight: bolder;
}
.h3 {
    font-size: 150px;
    font-weight: bolder;
}
.h4 {
    font-size: 125px;
    font-weight: bolder;
}
.h5 {
    font-size: 100px;
    font-weight: bolder;
}
.h6 {
    font-size: 75px;
    font-weight: bolder;
}